body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

#expenses {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#expense-list,
#expense-form,
#group-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

#expense-form form,
#create-group-form form {
    margin-top: 20px;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#results {
    margin-top: 20px;
}

#summary,
#breakdown {
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}